<h1>Hello World</h1>
<h2>Bitly!</h2>
<p>See Me in views/static/index.html.erb</p>

<a href='/contacts'>Contact me here!</a>

<!-- <a href="/posts/1">First post</a>
<a href="/posts/2">Second post</a>
<a href="/posts/3">Third post</a> -->

<% Post.all.each do |p| %>
  <p><a href="/posts/<%= p.id %>"><%= p.title %></a></p>
<% end %>
